
/* To Update CSS in browser hit shift + F5 (this clears the cache) */

a{
    text-decoration: none;
    color: #000;
}

p{
    margin: 0;    
}

h1{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: 60px;
}

h2{
    font-family: 'Teko', sans-serif;
    font-size: 2.3em;
    margin: 0;
}

.jumbotron{
    text-align: center;
    background-color: #edebeb;
    font-family: 'Teko', sans-serif;
    margin-bottom: 2em; 
}


/* Layout */

/* Nav Bar  */
.navbar-custom {
    font-family: 'Teko', sans-serif;
    background-color: #262626;
    font-size: 30px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
    margin-left: 50px;
}
/* change the brand and text color */
/* change the color of active or hovered links */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255,255,255, 0.5);
}

.navbar img{
    height: 100px;
}


.navbar-collapse{
    color: #fff;
}

.navbar .container{
    max-width: 1000px;
}

/* Footer */
footer{
    text-align: center;
    background-color: #262626; 
    color: #d9d6d6;
    padding: 1.6em;
    margin-top: 3.6em;
}

footer a{
    color: #d9d6d6;
    padding: 20px;
}

footer p{
    padding: 20px;
    color: #a9a7a7;
}


/* Index */
.boxes {
    display: grid;
    font-weight: 600;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 150px);

}
.boxscore {
    border-style: solid;
    border-color: #262626;
    border-width: 7px;
    padding-bottom: 1em;
}

.team-info img, .team-info p{
    margin-top: 20px;
}

.gamestats-score{
    font-size: 1.7rem;
}

.boxes .gametime{
    font-size: 18px;
}


.boxscore img {
    height: 60px;
}
.boxes a:hover{
    color: #000;
    text-decoration: none;
}

.boxscore .team-info {
    width: 38%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.boxscore .game-status {
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 100%;
}

.game-status .score{
    margin-bottom: 30px;
    font-size: 1.7em;
}

.green{
    color: green;
}

/* Game Stats */
/**************/
thead{
    background-color: #262626;
    color: #fff;
}

/* Highlights */
.highlights {
    text-align: center;
}

.highlights img {
    width: 40px;
    margin-right: 10px;

}

