{% extends "layout.html" %}

{% block content %}
<section class="contact">

    <div class="jumbotron">
        <h2>Contact</h2>
    </div>

    <p>
        Hello,
        <br><br>
        My name is Jack Emond and I am a Computer Programmer Analyst in the Niagara Region. This is an application that I created using Flask and Python to show information about the NHL. 
        <br><br>
        If you want to see more of the stuff i have made check  out my portfolio <a href="https://www.google.ca">here...</a>
    </p>

    <br><br><br>

    <div class="boxes">

        <div class="highlights">
            <a href="mailto:JackEmond@outlook.com">
                <img src="/static/images/contact/mail.png">
                <br>
                <br>
                JackEmond@Outlook.com
            </a>
        </div>

    <div class="highlights">
            <a href="mailto:JackEmond@outlook.com">
            <img src="/static/images/contact/folder.png">
            <br>
                <br>
        My Portfolio
            </a>
        </div>

    </div>
</section>
{% endblock %}
