{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1> NHL API DEMO</h1>
    <h2> by Jack Emond</h2>
</div>

{% if are_their_games_today == 'no' %}
<h2>Their are no NHL games today. So instead I will show you what the website would look like if their were active games. I will do this by pulling data
    from February 2nd 2019.</h2>
<br>
{% endif %}

<div class="boxes">
    {% for element in game_stats %}
    <a href="gamestats/{{element[10]}}">
        <div class="boxscore">
            <div class="team-info"> <!--Home Team-->
                <img src="/static/images/logos/{{element[0]}}.png">
                <p>({{element[2]}} - {{element[3]}} - {{element[4]}})</p>
            </div>
            <div class="game-status">
                <p class="score">{{element[1]}} - {{element[6]}}</p>
                <p>
                    {% if element[11] == 'FINAL' or "PM" in element[11] %} 
                        {{element[11]}}
                    {% else %}
                        <div class="green">{{element[11]}}</div>
                    {% endif %}
                </p>
            </div>
            <div class="team-info"> <!--Away Team-->
                <img src="/static/images/logos/{{element[5]}}.png">
                <br />
                <p>({{element[7]}} - {{element[8]}} - {{element[9]}})</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>


{% endblock %}