{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1> NHL API DEMO</h1>
    <h2> by Jack Emond</h2>
</div>

{% if their_are_games_today == 'no' %}
<h2>Their are no NHL games today. So instead I will show you what the website would look like if their were active games. I will do this by pulling data
    from February 2nd 2019.</h2>
<br>
{% endif %}


<div class="boxes">
    {% for game_stat in game_stats %}
    <a href="gamestats/{{game_stat['Game ID']}}">
        <div class="boxscore">
            <div class="team-info"> <!--Home Team-->
                <img src="/static/images/Logos/{{game_stat['Home Team Name']}}.png">
                <p>({{game_stat['Home Team Wins']}} - {{game_stat['Home Team Losses']}} - {{game_stat['Home Team OT']}})</p>
            </div>
            <div class="game-status">
                <p class="score">{{game_stat['Home Team Score']}} - {{game_stat['Away Team Score']}}</p>
                <p>
                    {% if game_stat['Game State'] == 'FINAL' or "PM" in game_stat['Game State'] %} 
                        {{game_stat['Game State']}}
                    {% else %}
                        <div class="green">{{game_stat['Game State']}}</div>
                    {% endif %}
                </p>
            </div>
            <div class="team-info"> <!--Away Team-->
                <img src="/static/images/Logos/{{game_stat['Away Team Name']}}.png">
                <br />
                <p>({{game_stat['Away Team Wins']}} - {{game_stat['Away Team Losses']}} - {{game_stat['Away Team OT']}})</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>


{% endblock %}